apiVersion: v1
kind: Service
metadata:
  name: webhook-to-pubsub
spec:
  ports:
  - name: http
    port: 80
    protocol: TCP
    targetPort: http
  selector:
    app: webhook-to-pubsub
  type: LoadBalancer
